#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.App {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

a {
  color: #f65282;
}
/* .App {
  max-width: 960px;
  margin: 0 auto;
} */
