#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f9f7fe;
}
.App {
  margin: 60px auto;
  max-width: 800px;
  height: 100vh;
}

a {
  color: #f65282;
}
/* .App {
  max-width: 960px;
  margin: 0 auto;
} */
